<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mission NAME</th>
      <th scope="col">Launch Date</th>
      <th scope="col">Rocket Type</th>
      <th scope="col">Cores [First Stage]</th>
    </tr>
  </thead>
  <tbody *ngFor="let info of launchInfo$ | async | slice:1:11; index as i">
    <tr>
      <th scope="row">{{i}}</th>
      <td>{{ info.flight_number }}</td>
      <td>{{ info.launch_date_local | date: "d-M-yyyy, h:mm a" }}</td>
      <td>{{ info.rocket?.rocket_type }}</td>
      <td *ngFor="let core of info.rocket.first_stage.cores; first as isFirst">
        <span *ngIf="core.landing_intent && isFirst; then yes else no"></span>
          <ng-template #yes><button type="button" class="btn btn-info" (click)="onCoresInfoRoute(info.rocket.first_stage.cores)">View</button></ng-template>
          <ng-template #no></ng-template>
      </td>
    </tr>
  </tbody>
</table>
