 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mission NAME</th>
      <th scope="col">Launch Date</th>
      <th scope="col">Rocket Type</th>
      <th scope="col">Cores [First Stage]</th>
      <th scope="col">Image</th>
      <th scope="col">Cores</th>
    </tr>
  </thead>
  <tbody  *ngFor="let info of launchInfo$ | async; index as i">
    <tr>
      <th scope="row">{{i}}</th>
      <td>{{info.flight_number}}</td>
      <td>{{info.launch_date_local | date: 'd-M-yyyy, h:mm a' }}</td>
      <td>{{info.rocket?.rocket_type}}</td>
      <div *ngIf="info.rocket.first_stage?.cores?.landing_intent; then available else notavailable"></div>
      <td><ng-template #available>{{info.rocket.first_stage?.cores?.landing_intent}}</ng-template></td>
      <td><ng-template #notavailable>N/A</ng-template></td> 
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table> 
